* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f5821f, #FD5DA8);
    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 15%;
    background: rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 125px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

nav ul li a:hover {
    color: #f5821f;
}

.cart-wrapper {
    background: #d88336;
    border-radius: 30px;
    padding: 40px;
    width: 90%;
    max-width: 1400px;
    margin: 80px auto;
    display: flex;
    gap: 40px;
}

.left-cart {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cart-box {
    background: white;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.food-img img {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    object-fit: cover;
}

.food-info-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    font-size: 24px;
    flex: 1;
}

.qty-input {
    width: 55px;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #aaa;
    text-align: center;
}

.remove-btn {
    background: #ff403f;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.order-summary {
    flex: 1;
    background: white;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
}

.order-summary h2 {
    font-size: 38px;
    margin-bottom: 30px;
    text-align: center;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.divider {
    height: 2px;
    background: black;
    border: none;
    margin: 20px 0;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    margin-top: 10px;
    padding: 0 10px;
}

.checkout-btn {
    background: #fcb64d;
    padding: 20px 40px;
    font-size: 26px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}