<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Checkout.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
</head>

<body>

<div class="checkout-container">
    <h2>Delivery Information</h2>

    <form id="orderForm">

    <label>Full Name:</label>
    <input type="text" name="fullname" required>

    <label>Phone Number:</label>
    <input type="text" name="phone" required>

    <label>Complete Address:</label>
    <textarea name="address" rows="3" required></textarea>

    <label>Payment Method:</label>
    <select name="payment" required>
        <option value="Card">Card</option>
        <option value="GCash">GCash</option>
    </select>

    <label>Order Notes (Optional):</label>
    <textarea name="notes" rows="2"></textarea>

    <button class="pay-btn">Place Order</button>
</form>
</div>

<script>
document.getElementById("orderForm").addEventListener("submit", function(e) {
    e.preventDefault();

    let formData = new FormData(this);

    fetch("{{ url_for('confirm_order') }}", {
        method: "POST",
        body: formData
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            showPopup("Order Confirmed");

            setTimeout(() => {
                window.location.href = "/";
            }, 2000);
        } else {
            showPopup(data.message, true);
        }
    })
});
function showPopup(message, error = false) {
    const popup = document.createElement("div");
    popup.textContent = message;
    popup.style.position = "fixed";
    popup.style.top = "50%";
    popup.style.left = "50%";
    popup.style.transform = "translate(-50%, -50%)";
    popup.style.padding = "30px 60px";
    popup.style.fontSize = "40px";
    popup.style.borderRadius = "20px";
    popup.style.zIndex = "9999";
    popup.style.color = "white";
    popup.style.background = error ? "#ff4d4d" : "#1ec94c";
    popup.style.boxShadow = "0 6px 20px rgba(0,0,0,0.3)";
    popup.style.opacity = "0";
    popup.style.transition = "opacity 0.4s ease-in-out";

    document.body.appendChild(popup);

    setTimeout(() => popup.style.opacity = "1", 50);

    setTimeout(() => {
        popup.style.opacity = "0";
        setTimeout(() => popup.remove(), 400);
    }, 1500);
}
</script>

</body>
</html>
