<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OTP Verification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='OTPForgot.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='tabicon.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Italianno&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>


        <div class="navbar">
            <div class="logo">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.png') }}" alt="Dunkin' Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('shops') }}">Shops</a></li>
                    <li><a href="{{ url_for('cart') }}">Cart</a></li>
                    <li><a href="{{ url_for('login') }}">Login/Register</a></li>
                    </ul>
            </nav>
        </div>

        <div class="container">
            <h1>Enter OTP sent to</h1>
        <br>
            <h2>{{ email }}</h2>
        <br><br>
            <form action="{{ url_for('verify_forgot_otp') }}" method="POST">
                <input type="text" class="input-field" name="otp" maxlength="6" placeholder="Enter OTP" required>
                <button type="submit" class="submit-btn">Verify OTP</button>
            </form>
        <br><br>

            {% if error %}
                <p class="error-msg" style="color:darkmagenta;">{{ error }}</p>
            {% endif %}
        </div>


</body>
</html>
